<dl>
    {% if issue.public_statement %}
        {% if detail %}
            <dt>Email</dt>
            <dd><a href="mailto:{{ issue.sunetid1 }}@stanford.edu">{{ issue.sunetid1 }}@stanford.edu</a></dd>
        {% endif %}
        {% if issue.bio %}
            {% if detail %}
                <dt>{{ issue.noun|capfirst }} statement</dt>
                {% if issue.image and detail %}
                    <div style="float:right"><img style="max-width:300px;max-height:400px;margin:0 15px 15px 0" src="/{{ issue.image.url }}"></div>
                {% endif %}
                <dd>{{ issue.bio|linebreaks }}</dd>
            {% else %}
                <dd>{{ issue.bio|linebreaks|truncatewords:200 }}</dd>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if issue.public_statement and issue.bio and not detail %}
        <dd>
            <a href="{% url issues.views.detail issue.slug %}">Read full {{issue.noun}} statement</a>
        </dd>
    {% endif %}
    {% if issue.needs_petition and issue.public and issue.show_petition_results %}
        <dd>
            <a href="{% url petitions.views.detail issue.slug %}">View petition</a>
        </dd>
    {% endif %}
</dl>

<br style="clear:both">

