{% if issue.image %}
    <div style="float:right"><img style="max-width:300px;max-height:400px;margin:0 15px 15px 0" src="/{{ issue.image.url }}"></div>
{% endif %}
<dl>
    {% if issue.public_profile %}
        <dt>Email</dt>
        <dd><a href="mailto:{{ issue.sunetid1 }}@stanford.edu">{{ issue.sunetid1 }}@stanford.edu</a></dd>
    {% endif %}
    {% if issue.bio %}
        <dt>Profile</dt>
        {% if detail %}
            <dd>{{ issue.bio|safe|linebreaks }}</dd>
        {% else %}
            <dd>{{ issue.bio|safe|linebreaks|truncatewords_html:200 }}</dd>
        {% endif %}
    {% endif %}
    {% if issue.public_profile and not detail %}
        <dd>
            <a href="{% url issues.views.detail issue.slug %}">See full profile</a>
        </dd>
    {% endif %}
    {% if issue.needs_petition and issue.public %}
        <dd>
            <a href="{% url petitions.views.detail issue.slug %}">View/sign petition</a>
        </dd>
    {% endif %}
</dl>

<hr style="clear:both">

