{% load markup %}
{% load issue_extras %}

<dl>
    {% if issue.statement_is_public %}
        {% if detail %}
            {% if issue.sunetids|length_is:"1" %}
                <dt>Email</dt>
                <dd><a href="mailto:{{ issue.sunetid1 }}@stanford.edu">{{ issue.sunetid1 }}@stanford.edu</a></dd>
            {% else %}
                <dt>{{ issue.name1 }}</dt>
                <dd><a href="mailto:{{ issue.sunetid1 }}@stanford.edu">{{ issue.sunetid1 }}@stanford.edu</a></dd>
                {% if issue.name2 %}
                    <dt>{{ issue.name2 }}</dt>
                    <dd><a href="mailto:{{ issue.sunetid2 }}@stanford.edu">{{ issue.sunetid2 }}@stanford.edu</a></dd>
                {% endif %}
                {% if issue.sunetid3 %}
                    <dt>{{ issue.name3 }}</dt>
                    <dd><a href="mailto:{{ issue.sunetid3 }}@stanford.edu">{{ issue.sunetid3 }}@stanford.edu</a></dd>
                {% endif %}
                {% if issue.sunetid4 %}
                    <dt>{{ issue.name4 }}</dt>
                    <dd><a href="mailto:{{ issue.sunetid4 }}@stanford.edu">{{ issue.sunetid4 }}@stanford.edu</a></dd>
                {% endif %}
                {% if issue.sunetid5 %}
                    <dt>{{ issue.name5 }}</dt>
                    <dd><a href="mailto:{{ issue.sunetid5 }}@stanford.edu">{{ issue.sunetid5 }}@stanford.edu</a></dd>
                {% endif %}
            {% endif %}
        {% endif %}
        
        {% if detail %}
            <dt>{{ issue.noun|capfirst }} statement</dt>
            {% if issue.image and detail %}
                <div style="float:right"><img style="max-width:300px;max-height:400px;margin:0 15px 15px 0" src="{{ issue.image.url }}"></div>
            {% endif %}
            <dd>{{ issue.statement|markdown:"safe" }}</dd>
        {% else %}
            {% if issue.statement %}
                <dd class="statement_short">{{ issue.statement|markdown:"safe"|truncatewords_html:"300" }}</dd>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if issue.statement_is_public and issue.statement and not detail %}
        <dd>
            <a href="{{ issue.get_absolute_url }}" {% if issue.external_url %}target="_blank"{% endif %}>Read full {{issue.noun}} statement</a>
            {% if issue.external_url %}(off-site){% endif %}
        </dd>
    {% endif %}
    {% if issue.needs_petition and issue.public and issue.show_petition_results %}
        <dd>
            <a href="{% url petitions.views.detail issue.slug %}">View petition</a>
        </dd>
    {% endif %}
</dl>

<br style="clear:both">

