{% load markup %}
{% load issue_extras %}

<dt>Special Fee request sponsor</dt>
<dd>{{ issue.name1 }}, <a href="mailto:{{ issue.sunetid1 }}@stanford.edu">{{ issue.sunetid1 }}@stanford.edu</a></dd>

<table>
    <tbody>
        <tr>
            <th>Total request amount</th>
            <td>{{ issue.total_request_amount|currency }}</td>
        </tr>
        <tr>
            <th>Previous year request amount</th>
            <td>{{ issue.total_past_request_amount|currency }}</td>
        </tr>
        <tr>
            <th>Change from previous request</th>
            <td>{{ issue.total_request_percent_change|floatformat:"0" }}%</td>
        </tr>
    </tbody>
</table>

{% if issue.budget %}
    <p><a target="_blank" href="{{ issue.budget.url }}">View Special Fee request PDF</a></p>
    {% if not hidepdfs %}{{ issue.budget.url|pdf_viewer|safe }}{% endif %}
{% endif %}

{% if issue.past_budget %}
    <p><a target="_blank" href="{{ issue.past_budget.url }}">View previous year request PDF</a></p>
    {% if not hidepdfs %}{{ issue.past_budget.url|pdf_viewer|safe }}{% endif %}
{% endif %}

{% if issue.account_statement %}
    <p><a target="_blank" href="{{ issue.account_statement.url }}">View current bank statement PDF</a></p>
    {% if not hidepdfs %}{{ issue.account_statement.url|pdf_viewer|safe }}{% endif %}
{% endif %}

{% if issue.budget_summary %}
    {{ issue.budget_summary|safe }}
{% endif %}

{% if issue.statement %}
    <h2>Group statement</h2>
    {% if issue.image and detail and not hidepdfs %}
        <div style="float:right"><img style="max-width:300px;max-height:400px;margin:0 15px 15px 0" src="{{ issue.image.url }}"></div>
    {% endif %}
    
    {{ issue.statement|markdown:"safe" }}
{% endif %}

<br style="clear:both">

