{% extends "issues/base-public.html" %}

{% block content %}

{% regroup issues|dictsort:"kind_name" by kind_name as issues_list %}

{% for issue_kind in issues_list %}
    <h1>{{ issue_kind.grouper }}s</h1>
    {% for issue in issue_kind.list %}
        <h3>
            {% if not detail and issue.public_profile %}
                <a href="{% url issues.views.detail issue.slug %}">{{ issue.title }}</a>
            {% else %}
                {{ issue.title }}
            {% endif %}
            
            {% if issue.needs_petition and issue.show_petition_results %}
                {% if issue.petition_validated %}
                    (validated with {{ issue.petition_signatures_count }} signatures)
                {% else %}
                    (pending validation)
                {% endif %}
            {% endif %}
        </h3>
        {% include issue.partial_template %}
    {% endfor %}
    
{% empty %}
    <!-- empty list -->
    <p>No items to show.</p>
{% endfor %}

<br style="clear:both">

{% endblock %}