{% extends "ballot/base-ballot.html" %}
{% load issue_extras %}

{% block content %}

<h1 style="font-size:3.0em">Ballot - SAMPLE</h1>

<p>
    All fields are optional.
    After voting, you may return to <a href="http://ballot.stanford.edu">ballot.stanford.edu</a> to change your votes until 11:59pm on Friday.
    Online votes supercede any paper ballots you cast. 
    Email <a href="mailto:elections@elections.stanford.edu?subject=Ballot%20question:%20{{ sunetid }}">elections@elections.stanford.edu</a> 
    if you need help.
</p>

<p>If you are not <strong>{{ sunetid }}</strong>, close your browser to log out and then return to 
    <a href="http://ballot.stanford.edu">ballot.stanford.edu</a>.</p>

<p>
    According to our records, you are 
    {% if ballot.is_undergrad %}
        {% if ballot.is_gsc %}
            currently registered as <strong>both an undergraduate ({{ ballot.undergrad_class_year.name|lower }}) and a grad student</strong>.
        {% else %}
            an <strong>undergraduate {{ ballot.undergrad_class_year.name|lower }}</strong>. 
        {% endif %}
    {% else %}
        
    {% endif %}
</p>

<hr>

<form id="ballot" method="post" action="{% url ballot.views.vote_all %}">

{% if ballotform.smsa %}
<section class="candidates">

<h2>SMSA</h2>

{% if ballotform.vote_smsa_execpres %}
    <h3>Executive President</h3>
    {{ ballotform.vote_smsa_execpres }} {{ ballotform.vote_smsa_execpres.errors }}
{% endif %}

{% if ballotform.vote_smsa_pres %}
    <h3>President</h3>
    {{ ballotform.vote_smsa_pres }} {{ ballotform.vote_smsa_pres.errors }}
{% endif %}

{% if ballotform.vote_smsa_vicepres %}
    <h3>Vice President</h3>
    {{ ballotform.vote_smsa_vicepres }} {{ ballotform.vote_smsa_vicepres.errors }}
{% endif %}

{% if ballotform.vote_smsa_sec %}
    <h3>Secretary</h3>
    {{ ballotform.vote_smsa_sec }} {{ ballotform.vote_smsa_sec.errors }}
{% endif %}

{% if ballotform.vote_smsa_treas %}
    <h3>Treasurer</h3>
    {{ ballotform.vote_smsa_treas }} {{ ballotform.vote_smsa_treas.errors }}
{% endif %}

{% if ballotform.vote_smsa_mentorship %}
    <h3>Mentorship Chair</h3>
    {{ ballotform.vote_smsa_mentorship }} {{ ballotform.vote_smsa_mentorship.errors }}
{% endif %}

{% if ballotform.vote_smsa_psrc %}
    <h3>Prospective Student Recruitment Chair</h3>
    {{ ballotform.vote_smsa_psrc }} {{ ballotform.vote_smsa_psrc.errors }}
{% endif %}

{% if ballotform.vote_smsa_ossosr %}
    <h3>OSS/OSR Rep</h3>
    {{ ballotform.vote_smsa_ossosr }} {{ ballotform.vote_smsa_ossosr.errors }}
{% endif %}

{% if ballotform.vote_smsa_classrep %}
    <h3>Class Rep</h3>
    {{ ballotform.vote_smsa_classrep }} {{ ballotform.vote_smsa_classrep.errors }}
{% endif %}

{% if ballotform.vote_smsa_socialchair %}
    <h3>Social Chair</h3>
    {{ ballotform.vote_smsa_socialchair }} {{ ballotform.vote_smsa_socialchair.errors }}
{% endif %}

{% if ballotform.vote_smsa_ccap %}
    <h3>CCAP Rep</h3>
    {{ ballotform.vote_smsa_ccap }} {{ ballotform.vote_smsa_ccap.errors }}
{% endif %}

{% if ballotform.vote_smsa_pachair %}  
    <h3>Policy &amp; Advocacy Chair</h3>
    {{ ballotform.vote_smsa_pachair }} {{ ballotform.vote_smsa_pachair.errors }}
{% endif %}

<hr>
</section>
{% endif %}

<section class="slates">
    <h2>ASSU Executive</h2>
    <p>Rank your choices for Executive. Uses <a target="_blank" href="http://en.wikipedia.org/wiki/Instant-runoff_voting">instant-runoff voting</a>.</p>
    <table>
        <thead>
            <tr><td/><th>Choose slate</th><th>OR Write-in</th></tr>
        </thead>
        <tbody>
            <tr><th>1st choice</th><td>{{ ballotform.vote_exec1 }}</td><td>{{ ballotform.vote_exec1_writein }}</td><td>{{ ballotform.vote_exec1.errors }}</td></tr>
            <tr><th>2nd choice</th><td>{{ ballotform.vote_exec2 }}</td><td>{{ ballotform.vote_exec2_writein }}</td><td>{{ ballotform.vote_exec2.errors }}</td></tr>
            <tr><th>3rd choice</th><td>{{ ballotform.vote_exec3 }}</td><td>{{ ballotform.vote_exec3_writein }}</td><td>{{ ballotform.vote_exec3.errors }}</td></tr>
            <tr><th>4th choice</th><td>{{ ballotform.vote_exec4 }}</td><td>{{ ballotform.vote_exec4_writein }}</td><td>{{ ballotform.vote_exec4.errors }}</td></tr>
            <tr><th>5th choice</th><td>{{ ballotform.vote_exec5 }}</td><td>{{ ballotform.vote_exec5_writein }}</td><td>{{ ballotform.vote_exec5.errors }}</td></tr>
            <tr><th>6th choice</th><td>{{ ballotform.vote_exec6 }}</td><td>{{ ballotform.vote_exec6_writein }}</td><td>{{ ballotform.vote_exec6.errors }}</td></tr>
        </tbody>
    </table>
    <hr>
</section>

{% if ballotform.votes_senate %}
    <section class="candidates">
        <h2>Undergrad Senate</h2>
        <p>Vote for up to 15 Senate candidates.</p>
        {{ ballotform.votes_senate }}
        {{ ballotform.votes_senate.errors }}
        
        <h3>Write-in Senate votes</h3>
        <p>List the full names of other students you want to vote for. You can only vote for 15 Senators max, including write-ins.</p>
        {{ ballotform.votes_senate_writein }}
    </section>
    <hr>
{% endif %}

{% if ballot.gsc_district and ballotform.votes_gsc_district %}
    <section class="candidates">
        <h2>Grad Student Council District ({{ ballot.gsc_district.name }})</h2>
        <p>{{ ballotform.votes_gsc_district.label }}</p>
        {{ ballotform.votes_gsc_district }}
        {{ ballotform.votes_gsc_district.errors }}
    </section>
    <hr>
{% endif %}

{% if ballotform.votes_gsc_atlarge %}
<section class="candidates">
    <h2>Grad Student Council At-Large</h2>
    <p>
        At-large votes are tallied independently of GSC district votes.  
        You can vote for the same candidate(s) for both at-large and in 
        your district, if you want.
    </p>
    {{ ballotform.votes_gsc_atlarge }}
    {{ ballotform.votes_gsc_atlarge.errors }}
</section>
<hr>
{% endif %}

{% if ballotform.vote_classpres1 %}
<section class="slates">
    <h2>Undergraduate Class President</h2>
    <p>Rank your choices for Class President. Uses <a target="_blank" href="http://en.wikipedia.org/wiki/Instant-runoff_voting">instant-runoff voting</a>.</p>
    <table>
        <thead>
            <tr><td/><th>Choose slate</th><th>OR Write-in</th></tr>
        </thead>
        <tbody>
            <tr><th>1st choice</th><td>{{ ballotform.vote_classpres1 }}</td><td>{{ ballotform.vote_classpres1_writein }}</td><td>{{ ballotform.vote_classpres1.errors }}</td></tr>
            {% if ballotform.vote_classpres2 %}
                <tr>
                    <th>2nd choice</th>
                    <td>{{ ballotform.vote_classpres2 }}</td>
                    <td>{{ ballotform.vote_classpres2_writein }}</td>
                    <td>{{ ballotform.vote_classpres2.errors }}</td>
                </tr>
            {% endif %}
            {% if ballotform.vote_classpres3 %}
                <tr>
                    <th>3rd choice</th>
                    <td>{{ ballotform.vote_classpres3 }}</td>
                    <td>{{ ballotform.vote_classpres3_writein }}</td>
                    <td>{{ ballotform.vote_classpres3.errors }}</td>
                </tr>
            {% endif %}
            {% if ballotform.vote_classpres4 %}
                <tr>
                    <th>4th choice</th>
                    <td>{{ ballotform.vote_classpres4 }}</td>
                    <td>{{ ballotform.vote_classpres4_writein }}</td>
                    <td>{{ ballotform.vote_classpres4.errors }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
</section>
{% endif %}


<section class="fees">
    <h2>Special Fee requests</h2>
    <table class="specialfees" cellspacing="0">
        <thead>
            <tr><th></th><th>Vote</th><th>Total</th><th>Per student</th></tr>
        </thead>
        <tbody>
            {% for f in ballotform %}
                {% if f.field.is_special_fee %}
                    {% with f.field.issue as issue %}
                    <tr>
                        <th class="title">
                            {{ f.label }}
                            <span class="info">
                                {% if issue.advisory_vote_gsc %}
                                    <br>GSC advisory vote: {{ issue.advisory_vote_gsc }}
                                {% endif %}
                                
                                {% if issue.advisory_vote_senate %}
                                    <br>Senate advisory vote: {{ issue.advisory_vote_senate }}
                                {% endif %}
                            </span>
                        </th>
                        <td class="vote">{{ f }} {{ f.errors }}</td>
                        <td class="figure">
                            {% if issue.budget %}<a target="_blank" href="{{ issue.budget.url }}">{% endif %}
                                {{ issue.total_request_amount|currency }}
                            {% if issue.budget %}</a>{% endif %}
                        </td>
                        <td class="info">
                            {% if issue.amount_per_undergrad_annual %}
                                {{ issue.amount_per_undergrad_annual|currency }}/undergrad/year<br>
                            {% endif %}
                            
                            {% if issue.amount_per_grad_annual %}
                                {{ issue.amount_per_grad_annual|currency }}/grad/year
                            {% endif %}
                        </td>
                    </tr>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
    
<br>
<hr>

<section class="submit">
    <input type="submit" value="Submit ballot">
</section>

</form>

<br/>

{% endblock %}