{% extends "ballot/base-ballot.html" %}

{% block content %}

<p>{{ postdata }}</p>

<form id="ballot" method="post" action="{% url ballot.views.vote_all %}">

<section class="slates">
    <h1>Exec</h1>
    {{ ballotform.votes_exec }}
</section>

{% if ballotform.votes_senate %}
    <section class="candidates">
        <h1>Undergrad Senate</h1>
        <p>Choose 15.</p>
        {{ ballotform.votes_senate }}
    </section>
{% endif %}

{% if ballotform.votes_gsc %}
    <section class="candidates">
        <h1>Grad Student Council</h1>
        {{ ballotform.votes_gsc }}
    </section>
{% endif %}

{% if ballotform.votes_classpres %}
    <section class="slates">
        <h1>Class President</h1>
        {{ ballotform.votes_classpres }}
    </section>
{% endif %}

<section class="fees">
    <h1>Special Fees</h1>
    {% for f in ballotform %}
        {% if f.field.is_special_fee %}
            {{ f.label }} {{ f }} {{ f.errors }}
        {% endif %}
    {% endfor %}
</section>
    
<br>
<hr>

<section class="submit">
    <input type="submit" value="Submit ballot">
</section>

</form>

<br/>

<p>Ballot: {{ electorate_names }}</p>
{% endblock %}