{% extends "base.html" %}

{% block disclaimer %}
{% endblock %}

{% block style_link %}
<meta name = "viewport" content = "width = 380, initial-scale = 1, user-scalable = yes">
    <link rel="stylesheet" href="http://elections.stanford.edu/res/screen.css">
    <link rel="stylesheet" href="http://elections.stanford.edu/res/js/jquery-tooltip/jquery.tooltip.css">
    <script language="javascript" src="http://elections.stanford.edu/res/js/jquery-1.4.2.min.js"></script>
    <script language="javascript" src="http://elections.stanford.edu/res/js/dimensions_1.2/jquery.dimensions.js"></script>
    <script language="javascript" src="http://elections.stanford.edu/res/js/bgiframe_2.1.1/jquery.bgiframe.js"></script>
    <script language="javascript" src="http://elections.stanford.edu/res/js/jquery-tooltip/jquery.tooltip.js"></script>
{% endblock %}


{% block header %}
<h1 id="site_title"><a href="http://ballot.stanford.edu/"><img alt="ASSU Elections Commission Ballot" width="372" height="130" src="http://elections.stanford.edu/res/ballot-logo1.png"></a></h1>
{% endblock %}

{% block style %}
<style>
    section {
        display:block;
        clear:both;
        padding-top:15px;
    }
        section:first-child {
            padding-top:0 !important;
        }
        
    br, hr, h1, h2, h3 { clear:both;}
    
    #container {
        margin:0;
        max-width:none !important;
    }

    section ul, section li {
        list-style-type:none;
    }

    li.issue {
        padding:8px;
    }
        li.issue:hover {
            background-color:#F8E5E2;
        }
        .fees li.issue {
            width:680px;
        }
    
    label {
        font-weight:bold;
        margin-left:5px;
    }
    
    table.specialfees {
        width:100%;
    }
    
    .specialfees th.title {
        width:35%;
        max-width:350px !important;
    }
    
    th.title .info { 
        font-weight:normal !important;
    }
    
    .specialfees .info {
        font-size:0.9em;
    }
    
    .vote label {
        background-color:#eee;
        border:solid 1px #ccc;
        padding:2px;
        margin:4px;
        display:block;
    }
    
    .errorlist {
        background-color:red;
        color:white;
        border:solid 5px red;
    }
    
</style>
{% endblock %}

{% block footerlogin %}

{% endblock %}