{% extends "ballot/base-ballot.html" %}

{% block content %}

<h1>Choose ballot</h1>

<p>Please fill in the following information to determine the correct ballot for you.</p>
<hr>

<form id="choose_ballot" method="post" action="{% url ballot.views.choose_ballot %}">

{% if ballot.needs_ballot_choice %}
<ul class="errorlist">
    <li>{{ ballot.needs_ballot_choice }}<li>
</ul>
{% endif %}

<dl>
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if not field.field.is_smsa_checkbox %}
            <dt>{{ field.label_tag }}</dt>
            <dd {% if field.errors %}class="error_field" {% endif %}>{{ field }}</dd>
            {% if field.help_text %}<dd class="help_text">{{ field.help_text }}</dd>{% endif %}
            {% if field.errors %}<dd class="errors">{{ field.errors }}</dd>{% endif %}
        {% endif %}
    {% endif %}
{% endfor %}

<dt>School of Medicine/SMSA Miscellaneous</dt>
<dd>{{ form.smsa_is_mdphd }} {{ form.smsa_is_mdphd.label_tag }} {{ form.smsa_is_mdphd.errors }} <br> 
    {{ form.smsa_is_mdplus }} {{ form.smsa_is_mdplus.label_tag }}{{ form.smsa_is_mdplus.errors }} </dd>
</dl>

<section class="submit">
    <input type="submit" value="Save settings and display ballot">
</section>



</form>

{% endblock %}