{% extends "ballot/base-ballot.html" %}

{% block content %}

<h1>Your vote has been recorded.</h1>

<p>
    You may return to <a href="/ballot/">ballot.stanford.edu</a> to change your votes until 11:59pm on Friday.
    <!-- A confirmation email has been sent to you at {{ sunetid }}@stanford.edu. -->
</p>

<p><strong>Close your browser window to log out.</strong></p>


<p><small>If you believe an ASSU candidate or Special Fee group has
     <a href="http://elections.stanford.edu/guide#voter-fraud">committed an act of voter fraud</a>,
     such as observing your computer screen while you voted, email us at <a href="mailto:elections@elections.stanford.edu">elections@elections.stanford.edu</a>.
</small></p>


<h3>Ballot record</h3>
<p>
    <pre>
{% include "ballot/ballot_record.txt" %}
    </pre>
</p>

<hr>

{% endblock %}