<!doctype html>
<html>
<head>
    <title>ASSU Elections</title>
    <link rel="stylesheet" href="http://elections.stanford.edu/res/screen.css">
    <style>
        th { min-width: 110px; }
        form ul, form li { list-style-type: none; padding:0 !important; margin:0 !important; }

        form .errors { color:red; }
        form .help_text { color:#333; font-size:0.9em; }
        form .error_field { background-color:red; padding:5px; color:white; }
        {% block style %}{% endblock %}
    </style>
    
    <link rel="shortcut icon" href="/media/favicon.ico"/>
</head>
<body>
<div id="container">

<div id="header">
    {% block header %}
        <h1 id="site_title"><a href="http://elections.stanford.edu/"><img alt="ASSU Elections Commission" src="http://elections.stanford.edu/res/web-logo1.png"></a></h1>

        <div class="nav">
        <div class="navsection byaudience">
            <ul>
                <li><a href="/issues/petitioning"><strong>View all petitions</strong></a></li>
                <li><a href="/issues/manage">Declare candidacy</a></li>
                <li><a target="_blank" href="http://elections.stanford.edu/candidates">How to run for ASSU office</a></li>
                <li><a target="_blank" href="http://elections.stanford.edu/special-fees">Special Fees info</a></li>
            </ul>
        </div>

        <div class="navsection byaudience">
            <h2>ASSU</h2>
            <ul>
                <li><a href="{% url issues.views.index show="exec" %}">Executive</a></li>
                <li><a href="{% url issues.views.index show="gsc" %}">Grad Student Council</a></li>
                <li><a href="{% url issues.views.index show="senate" %}">Undergrad Senate</a></li>
                <li><a href="{% url issues.views.index show="class-presidents" %}">Class Presidents</a></li>

            </ul>
        </div>

        <div class="navsection byaudience">
            <h2>Funding</h2>
            <ul>
                <li><a href="{% url issues.views.index show="special-fee-requests" %}">Special Fee requests</a></li>
            </ul>
        </div>

        <div class="navsection byaudience">
            <h2>SMSA</h2>
            <ul>
                <li><a href="{% url issues.views.index show="smsa-president" %}">President</a></li>
                <li><a href="{% url issues.views.index show="smsa-vice-president" %}">Vice President</a></li>
                <li><a href="{% url issues.views.index show="smsa-secretary" %}">Secretary</a></li>
                <li><a href="{% url issues.views.index show="smsa-treasurer" %}">Treasurer</a></li>
                <li><a href="{% url issues.views.index show="smsa-class-reps" %}">Class Reps</a></li>
                <li><a href="{% url issues.views.index show="smsa-social-chair" %}">Social Chair</a></li>
                <li><a href="{% url issues.views.index show="smsa-ccap" %}">CCAP</a></li>
                <li><a href="{% url issues.views.index show="smsa-chairs" %}">Chairs</a></li>
            </ul>
        </div>
        </div>
    {% endblock %}
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<div class="nav" id="footer">
    <ul>
        <li><a href="http://elections.stanford.edu">2010 Elections Commission Home</a></li>
        {% if not sunetid %}
            <li><a href="/issues/manage">Candidate/sponsor login</a></li>
        {% else %}
            <li><a href="/auth/logout" onclick="alert('You must also close your browser window to log out of Stanford WebAuth.');return true">Log out ({{ sunetid }})</a></li>
        {% endif %}
        <li><a href="http://elections.stanford.edu/contact">Contact</a></li>
        <li><a href="http://assu.stanford.edu/">ASSU</a></li>
    </ul>
</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11591088-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>