<!doctype html>
<html>
<head>
    <title>ASSU Elections</title>
    <link rel="stylesheet" href="http://elections.stanford.edu/res/screen.css">
    <style>
        {% block style %}{% endblock %}
    </style>
</head>
<body>
<div id="container">

<div id="header">
    {% block header %}
        <h1 id="site_title"><a href="/"><img alt="ASSU Elections Commission" src="http://elections.stanford.edu/res/web-logo1.png"></a></h1>
    
        <!-- <div class="nav">
        <div class="navsection general">
            <ul>
                <li><a href="http://elections.stanford.edu/">Ballot</a></li>
            </ul>
        </div>
        </div> -->
    {% endblock %}
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<div class="nav" id="footer">
    <ul>
        <li><a href="http://elections.stanford.edu">2010 Elections Commission Home</a></li>
        <li><a href="http://elections.stanford.edu/contact">Contact</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="http://assu.stanford.edu/">ASSU</a></li>
    </ul>
</div>

</div>
</body>
</html>