{% extends "issues/base-public.html" %}

{% block content %}

<h1>Editing profile for {{ issue.name_and_office }}</h1>

<form action="{% url issues.views.manage_edit issue.slug %}" method="post" enctype="multipart/form-data">
    <dl>
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            {% ifequal field.name "image" %}
                {% if issue.image %}
                    <dt>Existing image</dt>
                    <dd><img style="max-width:300px;max-height:300px" src="/{{issue.image.url}}"></dd>
                {% endif %}
            {% endifequal %}
            <dt>{{ field.label_tag }}</dt>
            <dd {% if field.errors %}class="error_field" {% endif %}>{{ field }}</dd>
            {% if field.help_text %}<dd class="help_text">{{ field.help_text }}</dd>{% endif %}
            {% if field.errors %}<dd class="errors">{{ field.errors }}</dd>{% endif %}
        {% endif %}
    {% endfor %}
    </dl>
    <div><br><input type="submit" value="Save profile"></div>
</form>

<p><br><a href="{% url issues.views.detail issue.slug %}">&laquo; View public profile (what everyone else sees)</a></p>

<br style="clear:both">

{% endblock %}