{% extends "issues/base-public.html" %}

{% block content %}

<h1>Editing profile for {{ issue.name_and_office }}</h1>

{% if issue.image %}
    <div style="float:right">
        <h3>Existing image:</h3>
        <td><img style="max-width:150px;max-height:250px" src="/{{issue.image.url}}"></td>
    </div>
{% endif %}

<p><a href="{% url issues.views.detail issue.slug %}">View profile</a></p>

<form action="{% url issues.views.manage_edit issue.slug %}" method="post" enctype="multipart/form-data">
    <table>
        {{ form.as_table }}        
    </table>
    <input type="submit" value="Save profile">
</form>

<br style="clear:both">

{% endblock %}