{% extends "issues/base-public.html" %}

{% block content %}

{% for issue in issues %}
    <h1>{{ issue.name_and_office }}</h1>
    <dl>
        {% if issue.public_profile %}
            <dt>Public profile:</dt>
            <dd>
                View:
                <a href="{% url issues.views.detail issue.slug %}">
                    http://petitions.stanford.edu{% url issues.views.detail issue.slug %}
                </a>
            </dd>
            <dd>
                <a href="{% url issues.views.manage_edit issue.slug %}">Edit public profile</a>
            </dd>
        {% endif %}
        
        {% if issue.needs_petition %}
            <dt>Petition:</dt> 
            <dd>
                <a href="http://elections.stanford.edu/petitions/{{ issue.slug }}">
                    http://elections.stanford.edu/petitions/{{ issue.slug }}
                </a>
            </dd>
        {% endif %}
        
        {% if not issue.public_profile and not issue.needs_petition %}
            <dd>You've declared. You'll be notified when you can post a candidate profile.</p>
        {% endif %}
    </dl>
    <br>
{% empty %}
    <p>You aren't listed as a member or sponsor of anything. Start a petition or declare candidacy below.</p>
{% endfor %}

<br>
<hr>

<!-- <h3>Start a new petition for...</h3>
<ul>
    <li><a href="{% url issues.views.manage_new "US" %}">ASSU Undergraduate Senate candidacy</a></li>
    <li><a href="{% url issues.views.manage_new "ClassPres" %}">ASSU Class President slate</a></li>
    <li><a href="{% url issues.views.manage_new "Exec" %}">ASSU Executive slate</a></li>
    <li>Special Fee request: read the <a href="http://elections.stanford.edu/petition-guide">petition guide</a> and then <a href="http://elections.stanford.edu/contact">contact us</a></li>
</ul> -->

<p>Declarations for ASSU positions other than GSC Rep are now closed.</p>

<h3>Declare your candidacy for...</h3>
<ul>
    <li><a href="{% url issues.views.manage_new "GSC" %}">ASSU Graduate Student Council representative</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-P" %}">SMSA President</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-VP" %}">SMSA Vice President</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-S" %}">SMSA Secretary</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-T" %}">SMSA Treasurer</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-ClassRep" %}">SMSA Class Rep</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-SocChair" %}">SMSA Class Social Chair</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-CCAP" %}">SMSA CCAP Rep</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-PAC" %}">SMSA Policy &amp; Advocacy Chair</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-MC" %}">SMSA Mentorship Chair</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-PSRC" %}">SMSA Prospective Student Recruitment Chair</a></li>
</ul>

<p>Descriptions of each position are posted on the declaration forms linked above.</p>


{% endblock %}